.blocAnimate, .troisEtats {
    width: 50px;
    height: 50px;
    background-color: crimson;
    border: 1px solid black;
    margin: 2px;
}

.troisEtats {
    width: 200px;
}

.blue {
    background-color: cornflowerblue;
}